<section class="contHome">

    <!--
        <h1 class="name">{{profile.name}}</h1>
        <h1 class="name">{{profile.cc}}</h1>
        <h1 class="name">{{profile.img}}</h1>
        <h1 class="name">{{profile.Regueton}}</h1>
        <h1 class="name">{{profile.Rock}}</h1>
        <h1 class="name">{{profile.Electronica}}</h1>
        <h1 class="name">{{profile.Metal}}</h1>
        <h1 class="name">{{profile.Rap}}</h1>
        <h1 class="name">{{profile.Pop}}</h1>
    -->

    <section class="leftCont">
        <svg class="Logo" width="101" height="20" viewBox="0 0 101 20" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M8.44158 0.347059H3.89052V2.1388H3.31886H2.16544V3.29222H3.31886H3.89052V19.1674H14.5117V15.6809H8.44158V0.347059Z"
                fill="#0E9FF0" />
            <path
                d="M30.3909 1.29042C28.7609 0.351166 26.8923 -0.0918138 25.0141 0.0158354C23.136 0.123484 21.3302 0.77708 19.8182 1.89641H17.574V3.04983H18.5396C18.0716 3.55902 17.6618 4.11863 17.3175 4.71835C16.462 6.23082 16.0255 7.94409 16.0529 9.68149C16.0533 10.3786 16.1209 11.074 16.2549 11.758H13.8734V12.9115H16.5458C16.7431 13.5195 17.0023 14.1057 17.3195 14.6608C18.1288 16.1009 19.3162 17.2925 20.7535 18.1069C22.2246 18.9191 23.8776 19.3451 25.558 19.3451C27.2385 19.3451 28.8915 18.9191 30.3626 18.1069C31.7991 17.2915 32.9863 16.1002 33.7966 14.6608C34.6512 13.1421 35.0875 11.4239 35.0611 9.68149C35.0894 7.94579 34.658 6.2335 33.8108 4.71835C33.0041 3.28572 31.8216 2.10047 30.3909 1.29042ZM29.1001 13.6407C28.2127 14.6157 27.033 15.1038 25.5611 15.1052C24.069 15.1052 22.8839 14.617 22.0059 13.6407C21.1279 12.6644 20.6882 11.3507 20.6868 9.69967C20.6868 8.03115 21.1265 6.71344 22.0059 5.74653C22.8853 4.77963 24.0703 4.29617 25.5611 4.29617C27.0491 4.29617 28.2329 4.78434 29.1122 5.76067C29.591 6.30084 29.9442 6.94033 30.1465 7.63321H28.6941V8.78663H30.3768C30.4117 9.08974 30.4299 9.39455 30.4313 9.69967C30.4313 11.3453 29.9876 12.659 29.1001 13.6407Z"
                fill="#0E9FF0" />
            <path
                d="M45.7914 9.68956H44.1087V10.843H45.7914V11.8732H51.5403C51.2758 12.8775 50.6798 13.7631 49.849 14.3864C49.0182 15.0097 48.0012 15.3341 46.963 15.3072C45.2756 15.3072 43.9754 14.8278 43.0624 13.8689C42.1493 12.9101 41.6921 11.5352 41.6908 9.7441C41.6908 8.09174 42.1258 6.78278 42.9957 5.81722C43.8656 4.85166 45.0204 4.36821 46.46 4.36686C47.2908 4.34457 48.1114 4.55443 48.8295 4.97286C49.4677 5.34664 49.9793 5.90321 50.298 6.57068H55.1157C54.8052 4.70007 53.7849 3.02138 52.2675 1.88428C50.7431 0.731539 48.7998 0.154493 46.4378 0.153147C44.5524 0.153147 42.9068 0.557146 41.5009 1.36515C41.0657 1.61521 40.6533 1.90316 40.2687 2.22566H38.2144V3.37908H39.1274C38.7814 3.80914 38.477 4.27111 38.2184 4.75874C37.4881 6.1713 37.0954 7.73396 37.071 9.32394H36.2105V10.4794H37.0811C37.147 11.9593 37.5352 13.407 38.2184 14.7214C38.9612 16.1477 40.1032 17.3268 41.5049 18.115C42.9243 18.923 44.5841 19.327 46.4842 19.327C47.9213 19.3531 49.3455 19.0527 50.6495 18.4483C51.8021 17.9115 52.8243 17.1306 53.6451 16.1596C54.4035 15.2572 54.9815 14.2176 55.348 13.0973V8.59068H45.7914V9.68956Z"
                fill="#0E9FF0" />
            <path
                d="M71.6797 1.2904C70.2039 0.478068 68.5466 0.0520973 66.862 0.0520973C65.1774 0.0520973 63.5201 0.478068 62.0443 1.2904C61.7514 1.45932 61.4676 1.64339 61.1939 1.84186H59.6688V2.9973H59.8869C59.3959 3.52282 58.9669 4.10299 58.6083 4.72642C58.1901 5.45281 57.8734 6.23305 57.667 7.04538H55.6227V8.1988H57.4407C57.3746 8.69296 57.3416 9.19099 57.3417 9.68955C57.3147 11.4318 57.7504 13.15 58.6042 14.6688C59.4145 16.1082 60.6017 17.2996 62.0382 18.115C63.5094 18.9272 65.1624 19.3532 66.8428 19.3532C68.5233 19.3532 70.1763 18.9272 71.6474 18.115C73.0843 17.3002 74.2717 16.1087 75.0814 14.6688C75.9404 13.1515 76.3803 11.433 76.356 9.68955C76.3842 7.95385 75.9528 6.24157 75.1056 4.72642C74.2985 3.29002 73.1137 2.10179 71.6797 1.2904ZM70.3889 13.6407C69.5028 14.6157 68.3231 15.1038 66.8499 15.1052C65.3766 15.1065 64.1916 14.6183 63.2947 13.6407C62.4167 12.663 61.9776 11.3493 61.9776 9.69965C61.9776 8.04999 62.4167 6.73228 63.2947 5.74652C64.1741 4.78096 65.3591 4.29751 66.8499 4.29616C68.3406 4.29481 69.525 4.78298 70.4031 5.76066C71.2393 6.68986 71.6757 7.92744 71.712 9.47341H69.989V10.6107H71.6635C71.5751 11.7313 71.1282 12.7938 70.3889 13.6407Z"
                fill="#0E9FF0" />
            <path
                d="M91.0737 0.347059V1.16112H90.7283H89.5749V2.31454H90.7283H91.0737V12.0065L83.4603 0.347059H78.9073V4.62339H78.3356V5.77681H78.9073V13.2771H78.5295H77.3761V14.4305H78.5295H78.9073V19.1674H83.4603V7.61299L89.1992 16.3232H88.1205V17.4766H89.2739H89.9607L91.0737 19.1674H95.6268V0.347059H91.0737Z"
                fill="#0E9FF0" />
            <path d="M58.5073 1.84186H57.3539V2.99528H58.5073V1.84186Z" fill="#0E9FF0" />
            <path d="M88.4194 1.16111H87.266V2.31453H88.4194V1.16111Z" fill="#0E9FF0" />
            <path d="M87.0155 16.3232H85.8621V17.4766H87.0155V16.3232Z" fill="#0E9FF0" />
            <path d="M37.1074 2.23172H35.954V3.38514H37.1074V2.23172Z" fill="#0E9FF0" />
            <path d="M16.5357 1.90447H15.3823V3.05789H16.5357V1.90447Z" fill="#0E9FF0" />
            <path d="M27.6053 7.62308H26.4519V8.7765H27.6053V7.62308Z" fill="#0E9FF0" />
            <path d="M1.15342 2.13882H0V3.29224H1.15342V2.13882Z" fill="#0E9FF0" />
            <path
                d="M36.5317 9.68957C36.559 7.95398 36.1276 6.24194 35.2813 4.72643C34.5414 3.4081 33.4821 2.29677 32.2008 1.49443H33.8855V0.347075H29.492C28.6857 0.148047 27.8581 0.0489964 27.0276 0.0521558C25.3438 0.0328434 23.685 0.460099 22.22 1.29041C20.7857 2.10328 19.5989 3.29012 18.786 4.72441C17.9306 6.23688 17.4941 7.95015 17.5215 9.68755C17.4947 11.4306 17.9311 13.1496 18.786 14.6689C19.5953 16.109 20.7827 17.3006 22.22 18.115C23.6911 18.9272 25.3441 19.3532 27.0246 19.3532C28.705 19.3532 30.358 18.9272 31.8291 18.115C32.2964 17.8475 32.7392 17.5393 33.1522 17.1939H36.0166V16.0404H34.3117C34.6698 15.6121 34.9895 15.1532 35.2672 14.6689C36.1217 13.1502 36.5581 11.432 36.5317 9.68957ZM30.5687 13.6407C29.6812 14.6157 28.5009 15.1038 27.0276 15.1052C25.5543 15.1065 24.37 14.6184 23.4744 13.6407C22.5964 12.663 22.1567 11.3493 22.1554 9.69967C22.154 8.05 22.5937 6.73229 23.4744 5.74653C24.3538 4.78097 25.5382 4.29752 27.0276 4.29617C28.517 4.29483 29.7014 4.78299 30.5808 5.76067C31.4602 6.737 31.8998 8.05 31.8998 9.69967C31.8998 11.3493 31.4561 12.663 30.5687 13.6407Z"
                fill="#FAFAFA" />
            <path
                d="M47.268 11.8732H53.0169C52.7524 12.8776 52.1564 13.7631 51.3256 14.3864C50.4948 15.0097 49.4779 15.3342 48.4396 15.3072C46.7536 15.3072 45.4534 14.8278 44.539 13.869C43.6246 12.9101 43.1674 11.5352 43.1674 9.74412C43.1585 9.02602 43.2593 8.31077 43.4664 7.62312H45.9348V6.4697H43.9895C44.13 6.23779 44.2916 6.01937 44.4723 5.81724C45.3409 4.85034 46.4943 4.36689 47.9326 4.36689C48.7634 4.34459 49.5839 4.55445 50.302 4.97288C50.9415 5.35211 51.4519 5.91527 51.7665 6.58888H56.5842C56.2756 4.71325 55.2536 3.02965 53.732 1.89037C52.2062 0.737622 50.263 0.160576 47.9023 0.159229C46.0169 0.159229 44.3713 0.563229 42.9654 1.37123C41.5693 2.1634 40.4316 3.34178 39.689 4.76482C38.8976 6.30345 38.5 8.01421 38.5315 9.74412C38.5 11.4734 38.8976 13.1835 39.689 14.7214C40.4333 16.1473 41.5757 17.3262 42.9775 18.115C44.3982 18.923 46.058 19.327 47.9568 19.327C49.3918 19.3522 50.8138 19.0518 52.116 18.4483C52.1827 18.416 52.2453 18.3816 52.318 18.3473H55.3743V17.1939H54.0835C54.4583 16.8806 54.8045 16.5345 55.1177 16.1596C55.876 15.2572 56.4541 14.2176 56.8206 13.0973V8.5907H47.268V11.8732Z"
                fill="#FAFAFA" />
            <path
                d="M73.4896 1.50048H74.7642V0.347065H70.7848C69.9779 0.147994 69.1495 0.0489434 68.3184 0.0521457C66.6353 0.0335763 64.9774 0.460794 63.5128 1.2904C62.079 2.10384 60.8923 3.29054 60.0788 4.7244C59.224 6.23703 58.7882 7.95031 58.8163 9.68753C58.7893 11.4298 59.225 13.148 60.0788 14.6668C60.8891 16.1062 62.0763 17.2976 63.5128 18.1129C64.984 18.9252 66.637 19.3512 68.3174 19.3512C69.9978 19.3512 71.6509 18.9252 73.122 18.1129C74.5589 17.2982 75.7462 16.1066 76.556 14.6668C77.4105 13.1481 77.8469 11.4299 77.8205 9.68753C77.8487 7.95183 77.4173 6.23955 76.5701 4.7244C75.8297 3.40856 74.7704 2.29995 73.4896 1.50048ZM71.8575 13.6407C70.97 14.6157 69.7903 15.1038 68.3184 15.1052C66.8465 15.1065 65.6614 14.6183 64.7632 13.6407C63.8838 12.663 63.4448 11.3493 63.4462 9.69965C63.4304 8.83843 63.5792 7.98211 63.8845 7.17668H66.054V6.0172H64.537C64.6117 5.92024 64.6844 5.8152 64.7652 5.73642C65.6433 4.77086 66.8283 4.28741 68.3204 4.28606C69.8125 4.28471 70.9963 4.77288 71.8716 5.75056C72.7496 6.72689 73.1893 8.03989 73.1906 9.68955C73.192 11.3392 72.7476 12.6563 71.8575 13.6407Z"
                fill="#FAFAFA" />
            <path
                d="M97.0953 15.7475V2.07618H98.1154V0.922759H97.0953V0.347059H92.5423V12.0065L87.8781 4.86377H88.4215H89.5749H90.7283V3.70834H89.5749H88.4215H87.266H87.1246L84.9269 0.347059H80.3758V19.1674H84.9269V7.61299L92.5423 19.1674H97.0953V16.9009H97.5377H98.6931V15.7475H97.5377H97.0953Z"
                fill="#FAFAFA" />
            <path d="M101 15.7475H99.8466V16.9009H101V15.7475Z" fill="#FAFAFA" />
            <path d="M77.0529 0.347059H75.8995V1.50048H77.0529V0.347059Z" fill="#FAFAFA" />
            <path d="M68.3164 6.01721H67.163V7.17063H68.3164V6.01721Z" fill="#FAFAFA" />
            <path d="M48.2497 6.46969H47.0963V7.62311H48.2497V6.46969Z" fill="#FAFAFA" />
            <path d="M38.2123 16.0405H37.0589V17.1939H38.2123V16.0405Z" fill="#FAFAFA" />
            <path
                d="M15.9802 16.9918V15.6809H9.91012V10.4854H10.199H11.3524V9.32999H10.199H9.91012V0.347059H5.35906V19.1674H15.9802V18.1473H16.5357H17.6912V16.9918H16.5357H15.9802Z"
                fill="#FAFAFA" />
            <path d="M30.4232 9.9077H29.2698V11.0611H30.4232H31.5766H32.7321V9.9077H31.5766H30.4232Z" fill="#0F0F0F" />
            <path d="M62.1251 11.655H60.9697V12.8084H62.1251H63.2785H64.4319V11.655H63.2785H62.1251Z" fill="#0F0F0F" />
            <path d="M53.8835 3.38515V4.53857H55.0369H56.1903V3.38515H55.0369H53.8835Z" fill="#0F0F0F" />
            <path d="M60.4364 15.889H59.283V17.0424H60.4364H61.5918H62.7452V15.889H61.5918H60.4364Z" fill="#0F0F0F" />
            <path d="M73.2896 8.02511V6.87169H72.1362H70.9808V8.02511H72.1362H73.2896Z" fill="#0F0F0F" />
            <path d="M81.9898 2.31456H80.8364H79.6829H78.5295V3.47H79.6829H80.8364H81.9898V2.31456Z" fill="#0F0F0F" />
            <path d="M96.5742 6.59292H95.4207H94.2653V7.74836H95.4207H96.5742H97.7276V6.59292H96.5742Z"
                fill="#0F0F0F" />
            <path d="M83.1452 14.7133H81.9898V15.8667H83.1452H84.2986H85.4521V14.7133H84.2986H83.1452Z"
                fill="#0F0F0F" />
            <path d="M86.1126 11.8065V12.9599H87.266H88.4215V11.8065H87.266H86.1126Z" fill="#0F0F0F" />
            <path d="M97.5377 2.0762V0.922781H96.3843H95.2309V2.0762H96.3843H97.5377Z" fill="#0F0F0F" />
            <path d="M73.0331 16.901H71.8797V18.0544H73.0331H74.1865H75.3399V16.901H74.1865H73.0331Z" fill="#0F0F0F" />
            <path d="M43.3896 13.3801H42.2362V14.5356H43.3896H44.543H45.6964V13.3801H44.543H43.3896Z" fill="#0F0F0F" />
            <path d="M50.9646 11.4186V12.5741H52.118H53.2714V11.4186H52.118H50.9646Z" fill="#0F0F0F" />
            <path d="M41.9594 17.0423H40.8969H39.7435V18.1978H40.8969H41.9594H42.0524H43.1129V17.0423H42.0524H41.9594Z"
                fill="#0F0F0F" />
            <path d="M18.1537 3.70834H17.0003V4.86378H18.1537H19.3072H20.4606V3.70834H19.3072H18.1537Z"
                fill="#0F0F0F" />
            <path d="M3.89052 6.08181H2.7371V7.23523H3.89052H5.04394H6.19736V6.08181H5.04394H3.89052Z" fill="#0F0F0F" />
            <path d="M2.7371 17.109H1.58166V18.2624H2.7371H3.89052H5.04394V17.109H3.89052H2.7371Z" fill="#0F0F0F" />
            <path d="M10.3545 15.0607H9.2011V16.2142H10.3545H11.51H12.6634V15.0607H11.51H10.3545Z" fill="#0F0F0F" />
            <path d="M10.3545 2.71449V1.56107H9.2011H8.04768V2.71449H9.2011H10.3545Z" fill="#0F0F0F" />
        </svg>


        <div class="cont">
            <a class="titleVar" href="/home">HOME</a>
            <a class="title" href="/feed?filter=General">FEED</a>
        </div>
    </section>

    <section class="rightCont">

        <section class="profileData">
            <div class="left">
                <h3>{{profile.name}}</h3>
                <h3>{{profile.cc}}</h3>
            </div>

            <div class="right">
                <div class="profileImg" style="background-image: url(/img/profile/{{profile.img}}.jpg);"></div>
                <!--
                <ul>
                    <li>Regueton: {{profile.Regueton}}</li>
                    <li>Rock: {{profile.Rock}}</li>
                    <li>Electronica: {{profile.Electronica}}</li>
                    <li>Metal: {{profile.Metal}}</li>
                    <li>Rap: {{profile.Rap}}</li>
                    <li>Pop: {{profile.Pop}}</li>
                </ul>
                -->
            </div>
        </section>

        <div class="cont">
            <a href="/select">Select Profile</a>
            <a href="/register">Create Profile</a>
            <a class="dbLink" href="/recomended">you may like know</a>
        </div>

        <a href="/">Salir</a>
    </section>

</section>

<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>

<script>
    let feed = document.getElementsByClassName("title")[0];

    let db = document.getElementsByClassName("dbLink")[0];

    tippy(feed, {
        content: "¿Quienes tienen gustos musicales similares a los mios?"
    });

    tippy(db, {
        content: "¿Quienes son los más parecidos a mi en todos los proyectos?"
    })
</script>